humanize>=4.5.0
jinja2>=3.1.0
jsonschema>=4.20.0
lxml>=6.0.2
markupsafe>=3.0.3
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
owslib>=0.35.0
python-dateutil
requests>=2.32.5
sqlalchemy>=2.0.44
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.4
