click==6.6
Flask==0.11.1
flufl.enum==4.1
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
lxml==3.6.0
MarkupSafe==0.23
OWSLib==0.11.2
psutil==4.3.0
psycopg2==2.6.1
pyproj==1.9.5.1
python-dateutil==2.5.3
pytz==2016.4
-e git+https://github.com/jan-rudolf/pywps@4d1cb081233e49590d8f049115d4376bd7e643d2#egg=pywps
requests==2.10.0
six==1.10.0
Werkzeug==0.11.10
