.font-size-80 {
	font-size: 80%;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.underline {
	text-decoration: underline;
}

header {
	margin-top: 10px;
}


ul li {
	line-height: 1.8;
}

#header-left img {
	max-width: 100%;
	padding-top: 20px;
}

h1 {
	padding-top: 0px;
}


header h1 a {
	text-decoration: none;
}

table th {
	text-align: center;
}

#menu {
	background-color: #337ab7; 
	color : #ffffff;
	padding: 10px;
}

#menu a {
	color: #ffffff;
	margin-right: 10px;
	margin-left: 10px;
	text-decoration: underline;
}

#menu a.active, #menu a:hover {
	text-decoration: none;
}

.pause-btn, .resume-btn, .pause-btn {
	display: none;
}

a.pause-btn, a.resume-btn, a.pause-btn:hover, a.resume-btn:hover {
	color: orange;
}

a.stop-btn, a.stop-btn:hover {
	color: red;
}

a.pause-btn, a.resume-btn, a.stop-btn {
	text-decoration: underline;
}

a.pause-btn:hover, a.resume-btn:hover, a.stop-btn:hover {
	text-decoration: none;
}

a.display-block {
	display: block;
}
