<?php
 /**********************************************************************
 *
 * purpose: config file for EMBRIO of PyWPS
 *
 * authors: Luca Casagrande (luca.casagrande@gmail.com) and Lorenzo Becchi (lorenzo@ominiverdi.com)
 *
 * TODO:
 *   - a lot...
 *
 **********************************************************************
 *
 * Copyright (C) 2006 ominiverdi.org
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 **********************************************************************/
$script_name = "name of your script";
$map_path = "path/to/your/mapfile";
$map_file = "yourmapfile.map";
$img_path = "path/to/your/image/tmp_dir/";# write enabled, web server visible
$img_rel_path = "../rel/path/to/your/img_path";
$pywps_outputPath = "path/to/your/pywps/temp_dir"; #same outputPath as in settings.py
$cgi_executable = "http://myserver.org/cgi-bin/pywps.py";
?>
