                    <Default>
                        <Format>
                            <ows:MimeType><TMPL_VAR mimetype></ows:MimeType>
                            <TMPL_IF encoding>
                            <Encoding><TMPL_VAR encoding></Encoding>
                            </TMPL_IF>
                            <TMPL_IF schema>
                            <Schema><TMPL_VAR schema></Schema>
                            </TMPL_IF>
                        </Format>
                    </Default>
                    <Supported>
                        <TMPL_LOOP Formats>
                        <Format>
                            <ows:MimeType><TMPL_VAR mimetype></ows:MimeType>
                            <TMPL_IF encoding>
                            <Encoding><TMPL_VAR encoding></Encoding>
                            </TMPL_IF>
                            <TMPL_IF schema>
                            <Schema><TMPL_VAR schema></Schema>
                            </TMPL_IF>
                        </Format>
                        </TMPL_LOOP>
                    </Supported>
