                    <Default>
                        <CRS xlink:href="<TMPL_VAR crs>" />
                    </Default>
                    <Supported>
                        <TMPL_LOOP CRSs>
                        <CRS xlink:href="<TMPL_VAR crs>" />
                        </TMPL_LOOP>
                    </Supported>
