            <wps:Data>
                <TMPL_IF complexdata>
                <wps:ComplexData<TMPL_IF mimetype> mimeType="<TMPL_VAR mimetype>"</TMPL_IF><TMPL_IF schema> schema="<TMPL_VAR schema>"</TMPL_IF><TMPL_IF encoding> encoding="<TMPL_VAR encoding>"</TMPL_IF>>
                <TMPL_VAR complexdata> 
                </wps:ComplexData>
                </TMPL_IF>
                <TMPL_IF literaldata>
                    <wps:LiteralData<TMPL_IF dataType> dataType="<TMPL_VAR type>"</TMPL_IF><TMPL_IF uom> uom="<TMPL_VAR uom>"</TMPL_IF>><TMPL_VAR literaldata></wps:LiteralData>
                </TMPL_IF>
                <TMPL_IF bboxdata>
                    <wps:BoundingBoxData crs="<TMPL_VAR crs>" dimensions="<TMPL_VAR dimensions>">
                        <ows:LowerCorner><TMPL_VAR minx> <TMPL_VAR miny></ows:LowerCorner>
                        <ows:UpperCorner><TMPL_VAR maxx> <TMPL_VAR maxy></ows:UpperCorner>
                    </wps:BoundingBoxData>
                </TMPL_IF>
            </wps:Data>
