                    <wps:Default>
                        <wps:CRS xlink:href="<TMPL_VAR crs>">
                    </wps:Default>
                    <wps:Supported>
                        <TMPL_LOOP CRSs>
                        <wps:CRS xlink:href="<TMPL_VAR crs>">
                        </TMPL_LOOP>
                    </wps:Supported>
