{% extends "layout.html" %}
{% set title = _('Intro') %}
{% block body %}
  <h1>{{ docstitle|e }}</h1>
  <p>
  (Python Web Processing Service) is implementation of <a
      href="http://www.opengeospatial.org/standards/wps">Web processing
      Service  standard</a> from <a href="http://opengeospatial.org">Open
      Geospatial Consortium</a>
   </p>
   <p>
        It has been started on Mai 2006 as project supported by
        <a href="http://dbu.de">DBU</a>  and currently (2009) maily sponsored by
        <a href="http://www.bnhelp.cz">HS-RS</a>. It offers environment for programming own
        process (geofunctions or models) which can be accessed from the public. The
        main advantage of PyWPS is, that it has been written with native support
        for <a href="http://grass.itc.it">GRASS GIS</a>. Access GRASS modules via web
        interace should be as easy as possible.
    </p>
    <p>
    PyWPS is written in <a href="http://python.org">Python</a>, your processes must use this language too.
  </p>
  {% block tables %}
  <p><strong>{{ _('Main topics:') }}</strong></p>
  <table class="contentstable" align="center"><tr>
    <td width="50%">
      <p class="biglink"><a class="biglink" href="{{ pathto("download/index") }}">{{ _('Download') }}</a><br>
         <span class="linkdescr">{{ _('Download the latest PyWPS') }}</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("development/index") }}">{{ _('Development') }}</a><br>
         <span class="linkdescr">{{ _('Mailing lists, source code, ...') }}</span></p>
    </td><td width="50%">
      <p class="biglink"><a class="biglink" href="{{pathto("documentation/index") }}">{{ _('Documentation') }}</a><br>
         <span class="linkdescr">{{ _('PyWPS Documentation') }}</span></p>
      <p class="biglink"><a class="biglink" href="{{ pathto("community/index") }}">{{ _('Community') }}</a><br>
         <span class="linkdescr">{{ _('Support, Mailing lists, trackers, IRC, wiki, ...') }}</span></p>
    </td></tr>
  </table>
  {% endblock %}
{% endblock %}
