<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PyWPS-4 demo app</title>
    <link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <h1>PyWPS-4 demo app</h1>

      <p>This is a demo PyWPS server, point your WPS client to
      <code>{{ url }}</code>. It exposes a few processes:</p>

      <ul>
        <li>
          <b>say_hello</b> -
          returns a literal string output based on the input.
        </li>

        <li>
          <b>feature_count</b> -
          counts number of features in the uploaded GML.
        </li>

        <li>
          <b>centroids</b> -
          returns GeoJSON with centroids of features in the uploaded GML.
        </li>
      </ul>

      <p>
        PyWPS documentation is at
        <a href="http://pywps.rtfd.org/">pywps.rtfd.org</a>;
        source code and issue tracking at
        <a href="https://github.com/jachym/pywps-4/">
        github.com/jachym/pywps-4</a>. Code for this app is at
        <a href="https://github.com/jachym/pywps-4/tree/master/demo">
        github.com/jachym/pywps-4/tree/master/demo</a>.
      </p>
    </div>
  </body>
</html>
