{% extends "base.html" %}

{% block head_title %}Home{% endblock %}

{% block h2_title %}Home{% endblock %}

{% block extra_scripts %}{% endblock %}

{% block content %}
<div id="pywps_home">
<div class="col-xs-12">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec tempor sem, sit amet imperdiet diam. Pellentesque ullamcorper ligula eu condimentum elementum. Ut pulvinar augue felis, in pulvinar mi ultricies vitae. Curabitur consequat nisl vel tempus bibendum. Sed tincidunt vel ex vel lacinia. Vestibulum vel ipsum condimentum tortor convallis tristique. Pellentesque nec sem elementum, porta erat sit amet, pretium enim. Sed eu elementum nisl. Mauris et ex malesuada, laoreet urna in, efficitur nisi. Integer elementum diam magna, eget lacinia neque mattis vel. Nunc sed arcu eget ante semper malesuada ac ut erat.</p>
</div>

<div class="col-xs-12 margin-top-20">
	<div class="col-xs-4">
		<a href="/wps" title="WPS" class="btn">WPS</a>
	</div>

	<div class="col-xs-4">
	</div>

	<div class="col-xs-4">
		<a href="/processes" title="Manage processes" class="btn">Processes</a>
	</div>
</div>
</div>
{% endblock %}