{% extends "base.html" %}

{% block head_title %}Processes{% endblock %}

{% block h2_title %}Processes{% endblock %}

{% block extra_scripts %}
	<script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block content %}
	{% if processes %}
	<table class="table text-center">
		<tr>
			<th>Action</th>

			<th>Status</th>
			<th>UUID</th>
			<th>PID</th>
			<th>Operation</th>
			<!--<th>Time Start</th>
			<th>Time End</th>-->
			<th>Identifier</th>
			<th>Message</th>
			<th>Percent Done</th>

		</tr>


		{% for process in processes %}
		<tr>
			<td id="action-btn-{{ process.uuid  }}">
				<!-- show the pause button for running processes -->
				<a href="javascript:pywps_pause_process('{{ process.uuid }}')" title="Pause the process {{ process.uuid }}" id="pause-btn-{{ process.uuid }}" class="pause-btn btn {% if process.status == '1' or process.status == '2' or process.status == '5' %}display-block{% endif %}" style="color: orange;">
					Pause
				</a>

				<!-- show the resume button for paused processes  -->
				<a href="javascript:pywps_resume_process('{{ process.uuid }}')" title="Resume the process {{ process.uuid }}" id="resume-btn-{{ process.uuid }}" class="resume-btn btn {% if process.status == '5'%}display-block{% endif %}" style="color: orange;">
					Resume
				</a> 

				<!-- show the stop button for running and paused processes -->
				<a href="javascript:pywps_stop_process('{{ process.uuid }}')" title="Stop the process {{ process.uuid }}" id="stop-btn-{{ process.uuid }}" class="stop-btn btn {% if process.status == '1' or process.status == '2' or process.status == '5' %}display-block{% endif %}">
					Stop
				</a>
			</td>
			<td>
				<span id="status-text-{{ process.uuid }}">
				{% if process.status == "0" %}
					Starting
				{% endif %}

				{% if process.status == "1" %}
					Running
				{% endif %}

				{% if process.status == "2" %}
					Running
				{% endif %}

				{% if process.status == "3" %}
					Finished
				{% endif %}

				{% if process.status == "4" %}
					Paused
				{% endif %}

				{% if process.status == "5" %}
					Stopped
				{% endif %}
				</span>
			</td>
			<td>{{ process.uuid }}</td>
			<td>{{ process.pid }}</td>
			<td>{{ process.operation }}</td>
			<!--<td>{{ process.time_start }}</td>
			<td>{{ process.time_end }}</td>-->
			<td>{{ process.identifier }}</td>
			<td>{{ process.message }}</td>
			<td>{{ process.percent_done }}</td>
		</tr>
		{% endfor %}

	</table>
	{% else %}
		<p>No processes.</p>
	{% endif %}
{% endblock %}