{% extends "base.html" %}

{% block head_title %}Processes{% endblock %}

{% block h2_title %}Processes{% endblock %}

{% block extra_scripts %}
	<script type=text/javascript src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}

{% block content %}
	{% if processes %}
	<table class="table">
		<tr>
			<th>Action</th>

			<th>UUID</th>
			<th>PID</th>
			<th>Operation</th>
			<!--<th>Time Start</th>
			<th>Time End</th>-->
			<th>Identifier</th>
			<th>Message</th>
			<th>Percent Done</th>
			<th>Status</th>

		</tr>


		{% for process in processes %}
		<tr>
			<td>
				<a href="javascript:pywps_pause_process('{{ process.uuid }}')" title="Pause the process {{ process.uuid }}" class="pause-btn pause-btn-{{ process.uuid }}" style="color: orange;">
					Pause
				</a> 
				
				<br>

				<a href="javascript:pywps_pause_process('{{ process.uuid }}')" title="Resume the process {{ process.uuid }}" class="resume-btn pause-btn-{{ process.uuid }}" style="color: orange;">
					Resume
				</a> 

				<br>
				
				<a href="javascript:pywps_stop_process('{{ process.uuid }}')" title="Stop the process {{ process.uuid }}" class="stop-btn stop-btn-{{ process.uuid }}">
					Stop
				</a>
			</td>

			<td>{{ process.uuid }}</td>
			<td>{{ process.pid }}</td>
			<td>{{ process.operation }}</td>
			<!--<td>{{ process.time_start }}</td>
			<td>{{ process.time_end }}</td>-->
			<td>{{ process.identifier }}</td>
			<td>{{ process.message }}</td>
			<td>{{ process.percent_done }}</td>
			<td>{{ process.status }}</td>
		</tr>
		{% endfor %}

	</table>
	{% else %}
		<p>No processes.</p>
	{% endif %}
{% endblock %}