<div class="item">
	<a id="$NB_EntryID"></a>
	<h2 class="date">$NB_EntryDate</h2>
	<div class="blogbody">
		<h3 class="title">$NB_EntryTitle</h3>
		<div class="item-description">
			$NB_EntryBody
		</div>
	</div>

	<div class="posted">
		<br />$template_postedby <span class="item-creator">$NB_EntryAuthor</span>
$([ "$PERMALINKS" = "1" ] && echo '| <a class="link" href="'${ARCHIVES_PATH}$NB_EntryPermalink'">'$template_permlink'</a>')
$([ ! -z "$NB_EntryCategories" ] && echo "| $template_catlinks $NB_EntryCategories" |sed -e '{$ s/\,$//; }')
<!-- <br /><a href="${BASE_URL}$BLOG_URL_ACTION$ARCHIVES_DIR/$permalink_file#comments">$template_cmtlink</a> -->
	</div>
</div>
