<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
    <display-name>PyWPS</display-name>
    <!-- 
         PyWPS - Servlet configuration file
         This file should go into the WEB-INF directory
         You also need the jython.jar library, available in the
         WEB-INF/lib/

         So, the file structure of the tomcat-servlets directory should
         look like follows:

         tomcat/webapps/
         tomcat/webapps/wps/
         tomcat/webapps/wps/PywpsServlet.py
         tomcat/webapps/wps/pywps/ (copy of the pywps module)
         tomcat/webapps/wps/pywps/__init__.py
         tomcat/webapps/wps/pywps/Wps/
         tomcat/webapps/wps/pywps/...
         ...
         tomcat/webapps/wps/WEB-INF/
         tomcat/webapps/wps/WEB-INF/web.xml (this file)
         tomcat/webapps/wps/WEB-INF/classes/
         tomcat/webapps/wps/WEB-INF/classes/jythonlib.jar

         This should be described in the documentation more detaily.
    -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>PyServlet</servlet-name>
        <servlet-class>org.python.util.PyServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PyServlet</servlet-name>
        <url-pattern>*.py</url-pattern> 
    </servlet-mapping>
</web-app>
