                    <Default>
                        <CRS><TMPL_VAR crs></CRS>
                    </Default>
                    <Supported>
                        <TMPL_LOOP CRSs>
                        <CRS><TMPL_VAR crs></CRS>
                        </TMPL_LOOP>
                    </Supported>
