				<ComplexData maximumMegabytes="5">
					<Default>
						<Format>
							<MimeType>text/xml</MimeType>
							<Encoding>base64</Encoding>
							<Schema>http://foo.bar/gml/3.1.0/polygon.xsd</Schema>
						</Format>
					</Default>
					<Supported>
						<Format>
							<MimeType>text/xml</MimeType>
							<Encoding>UTF-8</Encoding>
							<Schema>http://foo.bar/gml/3.1.0/polygon.xsd</Schema>
						</Format>
					</Supported>
				</ComplexData>
