				<LiteralData>
					<ows:DataType ows:reference="http://www.w3.org/TR/xmlschema-2/#float">float</ows:DataType>
					<UOMs>
						<Default>
							<ows:UOM>meters</ows:UOM>
						</Default>
						<Supported>
							<ows:UOM>meters</ows:UOM>
							<ows:UOM>feet</ows:UOM>
						</Supported>
					</UOMs>
					<ows:AnyValue/>
					<DefaultValue>100</DefaultValue>
				</LiteralData>
