<?xml version="1.0" encoding="<TMPL_VAR encoding>"?>
<!--This example describes a buffer command that accepts polygon coordinates in GML, and used a buffer distance in meters to produce a buffered polygon feature, which is output in GML, in either UTF-8 or base64 encoding.  The polygon can be returned directly as output, or stored by the service as a web-accessible resource.  Ongoing processing status reports are not available. -->
<wps:ProcessDescriptions xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ..\wpsDescribeProcess_response.xsd" service="WPS" version="1.0.0" xml:lang="<TMPL_VAR lang>">
    <TMPL_LOOP Processes>
    <TMPL_IF processok>
    <ProcessDescription wps:processVersion="<TMPL_VAR version>" storeSupported="<TMPL_VAR store>" statusSupported="<TMPL_VAR status>">
        <ows:Identifier><TMPL_VAR identifier></ows:Identifier>
        <ows:Title><TMPL_VAR title></ows:Title>
        <TMPL_IF abstract>
        <ows:Abstract><TMPL_VAR abstract></ows:Abstract>
        </TMPL_IF>
        <TMPL_LOOP Metadata>
        <ows:Metadata xlink:title="<TMPL_VAR metadata>" />
        </TMPL_LOOP>
        <TMPL_LOOP Profiles>
        <wps:Profile><TMPL_VAR profile></wps:Profile>
        </TMPL_LOOP>
        <TMPL_IF wsdl>
        <wps:WSDL xlink:href="<TMPL_VAR wsdl>"/>
        </TMPL_IF>
        <TMPL_IF datainpuntslen>
        <wps:DataInputs>
            <TMPL_LOOP Datainputs>
            <wps:Input minOccurs="<TMPL_VAR minoccurs>" maxOccurs="<TMPL_VAR maxoccurs>">
                <ows:Identifier><TMPL_VAR identifier></ows:Identifier>
                <ows:Title><TMPL_VAR title></ows:Title>
                <TMPL_IF abstract>
                <ows:Abstract><TMPL_VAR abstract></ows:Abstract>
                </TMPL_IF>
                <TMPL_IF complexvalue>
                <wps:ComplexData>
                    <TMPL_INCLUDE NAME="DescribeProcess_ComplexValue.tmpl">
                </TMPL_IF>
                </wps:ComplexData>
                <TMPL_IF literalvalue>
                <wps:LiteralData>
                    <TMPL_INCLUDE NAME="DescribeProcess_LiteralValue.tmpl">
                </wps:LiteralData>
                </TMPL_IF>
                <TMPL_IF boundingboxvalue>
                <wps:BoundingBoxData>
                    <TMPL_INCLUDE NAME="DescribeProcess_BoundingBoxValue.tmpl">
                </wps:BoundingBoxData>
                </TMPL_IF>
            </wps:Input>
            </TMPL_LOOP>
        </wps:DataInputs>
        </TMPL_IF>
        <TMPL_IF dataoutputslen>
        <wps:ProcessOutputs>
            <TMPL_LOOP Dataoutputs>
            <wps:Output>
                <ows:Identifier><TMPL_VAR identifier></ows:Identifier>
                <ows:Title><TMPL_VAR title></ows:Title>
                <TMPL_IF abstract>
                <ows:Abstract><TMPL_VAR abstract></ows:Abstract>
                </TMPL_IF>
                <TMPL_IF complexvalue>
                <wps:ComplexOutput>
                    <TMPL_INCLUDE NAME="DescribeProcess_ComplexValue.tmpl">
                </wps:ComplexOutput>
                </TMPL_IF>
                <TMPL_IF literalvalue>
                <wps:LiteralOutput>
                    <TMPL_INCLUDE NAME="DescribeProcess_LiteralValue.tmpl">
                </wps:LiteralOutput>
                </TMPL_IF>
                <TMPL_IF boundingboxvalue>
                <wps:BoundingBoxOutput>
                    <TMPL_INCLUDE NAME="DescribeProcess_BoundingBoxValue.tmpl">
                </wps:BoundingBoxOutput>
                </TMPL_IF>
            </wps:Output>
            </TMPL_LOOP>
        </wps:ProcessOutputs>
        </TMPL_IF>
    </wps:ProcessDescription>
    <TMPL_ELSE> 
    <!-- Process <TMPL_VAR process> failed: <TMPL_VAR exception> -->
    </TMPL_IF>
    </TMPL_LOOP>
</wps:ProcessDescriptions>
