<?xml version="1.0" encoding="<TMPL_VAR encoding>"?>
<wps:Capabilities service="WPS" version="1.0.0" xml:lang="<TMPL_VAR lang>" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:wps="http://www.opengis.net/wps/1.0.0" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/wps/1.0.0 ..\wpsGetCapabilities_response.xsd" updateSequence="1">
	<ows:ServiceIdentification>
		<ows:Title><TMPL_VAR servertitle></ows:Title>
                <TMPL_IF serverAbstract>
		<ows:Abstract><TMPL_VAR serverabstract></ows:Abstract>
                </TMPL_IF>
                <TMPL_IF keywords>
		<ows:Keywords>
                        <TMPL_LOOP keywords>
			<ows:Keyword><TMPL_VAR keyword></ows:Keyword>
                        </TMPL_LOOP>
		</ows:Keywords>
                </TMPL_IF>
		<ows:ServiceType>WPS</ows:ServiceType>
                <TMPL_LOOP versions>
		<ows:ServiceTypeVersion><TMPL_VAR version></ows:ServiceTypeVersion>
                </TMPL_LOOP>
                <TMPL_IF fees>
		<ows:Fees><TMPL_VAR fees></ows:Fees>
                </TMPL_IF>
                <TMPL_IF constraints>
		<ows:AccessConstraints><TMPL_VAR constraints></ows:AccessConstraints>
                </TMPL_IF>
	</ows:ServiceIdentification>
	<ows:ServiceProvider>
		<ows:ProviderName><TMPL_VAR providername></ows:ProviderName>
                <TMPL_IF providerSite>
		<ows:ProviderSite xlink:href="<TMPL_VAR providersite>"/>
                </TMPL_IF>
		<ows:ServiceContact>
                        <TMPL_IF individualName>
			<ows:IndividualName><TMPL_VAR individualname></ows:IndividualName>
                        </TMPL_IF>
                        <TMPL_IF positionName>
			<ows:PositionName><TMPL_VAR positionname></ows:PositionName>
                        </TMPL_IF>
			<ows:ContactInfo>
                                <TMPL_IF phone>
				<ows:Phone>
                                        <TMPL_IF phoneVoice>
					<ows:Voice><TMPL_VAR voicephone></ows:Voice>
                                        </TMPL_IF>
                                        <TMPL_IF phoneFascimile>
					<ows:Facsimile><TMPL_VAR fascimilephone></ows:Facsimile>
                                        </TMPL_IF>
				</ows:Phone>
                                </TMPL_IF>
                                <TMPL_IF address>
				<ows:Address>
                                        <TMPL_IF deliveryPoint>
					<ows:DeliveryPoint><TMPL_VAR deliverypoint></ows:DeliveryPoint>
                                        </TMPL_IF>
                                        <TMPL_IF city>
					<ows:City><TMPL_VAR city></ows:City>
                                        </TMPL_IF>
                                        <TMPL_IF administrativeArea>
					<ows:AdministrativeArea><TMPL_VAR administrativearea></ows:AdministrativeArea>
                                        </TMPL_IF>
                                        <TMPL_IF postalCode>
					<ows:PostalCode><TMPL_VAR postalcode></ows:PostalCode>
                                        </TMPL_IF>
                                        <TMPL_IF country>
					<ows:Country><TMPL_VAR country></ows:Country>
                                        </TMPL_IF>
                                        <TMPL_IF electronicMailAddress>
					<ows:ElectronicMailAddress><TMPL_VAR electronicmailaddress></ows:ElectronicMailAddress>
                                        </TMPL_IF>
				</ows:Address>
                                </TMPL_IF>
			</ows:ContactInfo>
		</ows:ServiceContact>
	</ows:ServiceProvider>
	<ows:OperationsMetadata>
                <TMPL_LOOP Operations>
		<ows:Operation name="<TMPL_VAR operation>">
			<ows:DCP>
				<ows:HTTP>
					<ows:Get xlink:href="<TMPL_VAR url>?"/>
					<ows:Post xlink:href="<TMPL_VAR url>"/>
				</ows:HTTP>
			</ows:DCP>
		</ows:Operation>
                </TMPL_LOOP>
	</ows:OperationsMetadata>
	<wps:ProcessOfferings>
                <TMPL_LOOP Processes>
                <TMPL_IF processok>
                <TMPL_IF processVersion>
		<wps:Process wps:processVersion="<TMPL_VAR processversion>">
                <TMPL_ELSE>
		<wps:Process>
                </TMPL_IF>
			<ows:Identifier><TMPL_VAR identifier></ows:Identifier>
			<ows:Title><TMPL_VAR title></ows:Title>
                        <TMPL_IF abstract>
			<ows:Abstract><TMPL_VAR abstract></ows:Abstract>
                        </TMPL_IF>
                        <TMPL_IF metadatalen>
                        <TMPL_LOOP metadata>
			<ows:Metadata xlink:title="<TMPL_VAR metadatatitle>" />
                        </TMPL_LOOP>
                        </TMPL_IF>
                        <TMPL_IF profile>
			<wps:Profile><TMPL_VAR profile></ows:Profile>
                        </TMPL_IF>
                        <TMPL_IF wsdl>
			<wps:WSDL><TMPL_VAR wsdl></ows:WSDL>
                        </TMPL_IF>
		</wps:Process>
                <TMPL_ELSE> 
                <!-- Process <TMPL_VAR process> failed: <TMPL_VAR exception> -->
                </TMPL_IF>
                </TMPL_LOOP>
	</wps:ProcessOfferings>
	<wps:Languages>
		<wps:Default>
			<ows:Language><TMPL_VAR language></ows:Language>
		</wps:Default>
		<wps:Supported>
			<ows:Language><TMPL_VAR language></ows:Language>
		</wps:Supported>
	</wps:Languages> 
	<wps:WSDL xlink:href="<TMPL_VAR url>?WSDL"/>
</wps:Capabilities>
